body{  
    background-color: paleturquoise;
}

h1{
    background-color: rebeccapurple;
}

.a{
    background-color: red;
}

h2{
    background-color: rosybrown;
}

.b{
    background-color: royalblue;
}

.a1{
   background-color: aliceblue; 
}

.a2{
    background-color: aqua;
}

.a3{
    background-color: cadetblue;
}

.a4{
    background-color: chartreuse;
}

.a5{
    background-color: coral;
}